/*___Sektion 1___*/
@media (min-width: 600px) {
  #section_one .section_wrapper {
    display: grid;
    height: 100vh;
    height: auto;
    aspect-ratio: 16/9;
  }

  #section_one .section_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1/1;
    position: relative;
    max-width: 100vw;
    width: 100vw;
    z-index: -1;
  }

  #section_one .section_wrapper h1 {
    z-index: 1;
    place-self: center;
    grid-area: 1/1;
    color: white;
    font-size: 6rem;
  }
}
/*Sektion 2*/
@media (min-width: 600px) {
  #section_two .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 50px;
  }
}

/*Sektion 3*/
@media (min-width: 600px) {
  #section_three .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    gap: 30px;
    padding: 50px;
  }
  #daniel {
    width: 30%;
    padding-left: 40%;
    padding-bottom: 20%;
    rotate: 40deg;
  }
  #section_three .tekst {
    padding-top: 15%;
  }
}

/*Sektion 4*/
@media (min-width: 600px) {
  #section_four .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 20%;
  }
  #section_four .section_wrapper .billede {
    grid-column: 2;
  }

  #section_four .section_wrapper .tekst {
    grid-column: 1;
    grid-row: 1;
  }
  #robin {
    width: 25%;
    padding-left: 40%;
    padding-bottom: 20%;
    rotate: -40deg;
  }
}

/*Sektion 5*/
@media (min-width: 600px) {
  #section_five .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 0.5fr;
    gap: 30px;
    padding: 50px;
  }
  #hubert {
    width: 30%;
    padding-left: 40%;
    padding-bottom: 20%;
    rotate: 30deg;
  }
}
