/*___Sektion 1___*/

/*Sektion 2*/
@media (min-width: 600px) {
  #section_two .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 30px;
    padding: 50px;
  }
}

/*Sektion 3*/
@media (min-width: 600px) {
  #section_three .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 50px;
  }
}

/*Sektion 4*/
@media (min-width: 600px) {
  #section_four .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 50px;
  }
  #section_four .section_wrapper .billede {
    grid-column: 2/3;
  }

  #section_four .section_wrapper .tekst {
    grid-column: 1/2;
  }
}

/*Sektion 5*/
@media (min-width: 600px) {
  #section_five .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    padding: 50px;
  }

  #section_five .section_wrapper .billede {
    grid-column: 2/3;
    object-fit: cover;
  }

  #section_five .section_wrapper .tekst {
    grid-column: 3/4;
  }
}
