* {
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/*===========links/menu start===========*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
.links a:hover {
  color: black;
  text-decoration: underline;
}
header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(hsl(26, 21%, 46%), transparent);
  padding: 1rem;
  gap: 20px;
}
header a {
  color: white;
}
.links {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: "Vollkorn", serif;
  font-size: 1.2rem;
  padding-right: 50px;
}

/*==============links slut===========*/
/*==============splashbillede/video========*/
video {
  max-width: 100%;
}
#textdiv video {
  height: 100%;
  object-fit: cover;
}
#textdiv {
  display: grid;
  place-items: center;
  height: 100vh;
}
#textdiv > * {
  grid-area: 1/1;
}
#overskrifter {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 2rem;
  font-family: "Vollkorn", serif;
}
#textdiv a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
#nav {
  display: flex;
}

#åbningstider {
  padding-top: 12%; /*!!!!!!*/
  color: white;
  font-family: "Vollkorn", serif;
}
/*=========== second section=============*/

#second_section .section_wrapper {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  background-color: #e5d7ca;
}

#logo {
  width: 70%;
  display: grid;
  grid-column: 4;
}

#second_section .div1 {
  grid-column: 2/3;
}
#second_section h2 {
  display: grid;
  grid-column: 2;
}

/*=========== third section=================*/
#third_section .section_wrapper {
  border: 1px solid black;
  display: grid;
  grid-template-columns: 0.5fr 2fr 1fr 1fr;
  background-color: #e5d7ca;
}

#logo {
  width: 70%;
  display: grid;
  grid-column: 4;
  grid-row: 2;
}

#third_section .div2 {
  grid-column: 2;
}
#third_section h2 {
  display: grid;
  grid-column: 2;
}
