* {
  margin: 0;
  box-sizing: border-box;
}

/*===========links/menu start===========*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}
.links a:hover {
  color: #0808075e;
}
header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(hsl(26, 21%, 46%), transparent);
  padding: 1rem;
  gap: 20px;
}
header a {
  color: rgb(102, 42, 42);
}
.links {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: "EB Garamond", serif;
  font-size: 2rem;
}

/*==============links slut===========*/
/*==============splashbillede/video========*/
video {
  max-width: 100%;
}
#textdiv video {
  height: 100%;
  object-fit: cover;
}
#textdiv {
  display: grid;
  place-items: center;
  height: 100vh;
}
#textdiv > * {
  grid-area: 1/1;
}
#overskrifter {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 2rem;
  font-family: "EB Garamond", serif;
}
#textdiv a {
  margin-right: 20px;
  color: white;
  text-decoration: none;
  font-size: 3rem;
}
#nav {
  display: flex;
}

#åbningstider {
  padding-top: 12%;
  color: white;
  font-family: "EB Garamond", serif;
}
