/*===========links/menu start===========*/

html {
  scroll-behavior: smooth;
  scroll-padding-top: 60px;
}

header {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(hsl(26, 21%, 46%), transparent);
  padding: 1rem;
  gap: 20px;
}
header a {
  color: white;
}

.banner {
  padding: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.banner ul {
  list-style: none;
  padding: 0;
}

/*===========Burgermenu===========*/
.toggle-btn {
  display: none;
}

@media (max-width: 600px) {
  .toggle-btn {
    background: transparent;
    border: none;
    display: block;
    /* width: 44px; */
    height: 44px;
    padding: 0.25rem;
    cursor: pointer;
    color: white;
    font-family: "Vollkorn", serif;
    font-size: 1rem;
    padding-right: 2.8rem;
  }

  nav {
    display: none;
  }

  nav.shown {
    border-top: 1px solid #000;
    padding-top: 1rem;
    display: flex;
    flex: 1 1 100%;
    flex-flow: column;
  }

  nav ul {
    display: flex;
    flex-flow: column;
  }

  .links {
    color: white;
    background: hsla(334, 18%, 31%, 0.494);
  }

  .logo {
    width: 45%;
  }
}

/* ----------Links---------- */
a {
  color: aliceblue;
  text-decoration: none;
}
body {
  background-image: url(../vinhanen_hane_yellow_bg.png);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 5% 130px;
  background-attachment: fixed;
  background-color: #dbc7af;
}

.links {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
  font-family: "Vollkorn", serif;
  font-size: 1.2rem;
  padding-right: 50px;
}

a:hover {
  color: #5f021f;
  text-decoration: underline;
}

a:active {
  color: cornflowerblue;
}
h2 {
  font-size: 3rem;
  font-family: "Vollkorn", serif;
}
p {
  font-size: 1.3rem;
  font-family: "Open Sans", sans-serif;
}
/* ----------Footer---------- */
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  grid-template-rows: 1fr;
  /*
  background-color:
  color:
  font-family:
  font-size:
  */
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer_shop {
  grid-column: 2;
  grid-row: 1;
}

.footer_web {
  grid-column: 4;
  grid-row: 1;
}

.footer_bestilling {
  grid-column: 3;
  grid-row: 2;
}

/* ----------Tekst---------- */
p {
  font-family: "Vollkorn", serif;
  font-size: 16px;
}

h1 {
  /* font-size: 1.8rem; */
  color: white;
  font-family: "Vollkorn", serif;
}

h2 {
  font-size: 1.5rem;
  color: #5f021f;
}
